[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/nrubtsova/dom25
ExecStart=/home/nrubtsova/dom25/venv/bin/python run.py

[Install]
WantedBy=multi-user.target